    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>CHI SONO</h2>
              <br/>
                   
                

                <br>
                <h3><a href="https://angelatiliatranslations.github.io/englishversion/">Read the English version</a> · <a href="https://angelatiliatranslations.github.io/wersjapolska/">Czytaj wersję polską</a></h3>
                <br>
               <p>
                    Che tradurre sia come costruire un ponte solido e agevole tra lingue e culture diverse, è un’idea in cui mi ritrovo molto. Costruire un buon ponte richiede cura e capacità tecnica, senza dimenticare un certo senso artistico. È su questo terreno che affonda le radici la mia attività, e sono ponti che mettono in contatto l’inglese e il polacco all’italiano quelli che costruisco.
                </p>
                 <br>
                <p>
                    Quando pubblicai con un gruppo di colleghe la mia prima intervista a una giovane artista emergente, sapevo che un’ottima traduzione sarebbe stata fondamentale per far arrivare quelle idee a un pubblico più vasto. Ecco perché mi presi in carico la revisione della traduzione, in modo che nemmeno le più sfuggenti sfumature andassero perse e le parole dell’artista, nella loro autenticità, fossero lette da un pubblico altrimenti irraggiungibile. E così è stato.
                </p>
                 <br>
                <p>
                    Dal 2019 aiuto singoli e organizzazioni a fare arrivare parole e idee a un pubblico che parla una lingua diversa. Uso analisi, accuratezza e l’arte della parola per tradurre testi dal polacco e dall’inglese all’italiano, localizzare siti web per il mercato italiano, revisionare 	traduzioni e correggere 	testi scritti 	in italiano - testi accademici compresi, e trascrivere tracce audio e video in lingua italiana. 	 	
                    <br>
                </p>
                 <br>
                <p>
                    Le mie lingue di lavoro sono il polacco, l’inglese, e naturalmente l’italiano, la mia lingua natìa; i testi sulle arti, la produzione artigianale e la sostenibilità, la mia specialità.
                </p>
                 <br>
                <p>
                    Ho ottenuto una laurea magistrale in Lingue e letterature europee, americane e postcoloniali e una laurea in Lingue, civiltà e scienze del linguaggio presso l’Università Ca’ Foscari di Venezia.
                </p>
                 <br>
                <p>
                    Grazie alle meravigliose persone con cui ho lavorato nel tempo e ai miei studi linguistici e letterari, ho imparato a dare più valore alla qualità che alla quantità, ed è proprio questo il tipo di approccio che caratterizza il mio lavoro. Le persone con cui ho collaborato in questi anni sono ritornate a usufruire dei miei servizi e hanno detto: “Grazie per il tuo lavoro eccellente. È un piacere lavorare di nuovo con te.”
                </p>
                 <br>
                <p>
                    Che siate un’organizzazione, un’azienda o un privato, se pensate possa aiutarvi mandatemi una mail con la vostra richiesta. Affidandomi le vostre preziose parole, le consegnate in mani esperte. Non vedo l’ora di leggerle e di mettermi all’opera! 
                </p>
                 <br>
                <p>
                    <a href="mailto:angela@tiliatranslations.it">Le vostre parole a: angela@tiliatranslations.it</a>
                </p>
                


                
       
                <br/>
                <div align='center'>
                    <img src="../img/about me.jpg" alt="Angela">
                </div>
                <br>
                
                
                <br>

<h4>IN BREVE</h4>
<br>

<p>
<strong>Madrelingua: </strong><em>Italiano (Italia)</em>
</p>
<p>
<strong>Combinazioni linguistiche: </strong><em>Inglese>Italiano, Polacco>Italiano</em>
</p>
<p>
<strong>Specializzazioni: </strong><em>arte, produzione artigianale, sostenibilità, pubblicità, marketing, moda</em>
</p>
<p>
<strong>Certificazioni:</strong> <em><a href="https://cfcdn.proz.com/certificates/pro/pro_certificate_2997713.jpg">ProZ.com Certified PRO Translator</a></em>
</p>
<p>
<strong>Disponibilità: </strong><em><a href="https://www.proz.com/translator/2997713">Calendario aggiornato</a></em>
</p>
                <br>
                <h4>PUBBLICAZIONI</h4>
                <br>
<p>
                <a href="https://brooklynrail.org/contributor/ANGELA-BRISOTTO">Contributor to The Brooklyn Rail</a>
</p>
             
                <p>
                    <a href="https://brooklynrail.org/2021/07/art/Giuseppe-Penone-with-Francesca-Pietropaolo-and-Alexis-Dahan">Translations for The Brooklyn Rail</a>
                </p>
    <br>
                <h4>EVENTI</h4>
                <br>
<p>
               <a href="http://www.proz.com/powwow/7369”>Dicembre 2021 - Un tè tra traduttori, Edizione delle feste</a>
</p>
             
                <p>
                    <a href="https://www.proz.com/powwow/7357">Ottobre 2021 - Un tè tra traduttori</a>
                </p>
       
                <br/>
               
              </div>
        </div>
       
    </section>


