    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p>Hey there! I am an English to Italian and Polish to Italian translator specializing in culture, arts, and crafts, sustainability, and language learning.
</p>
                <p>Dzień dobry! Pracuję jako tłumaczka z polskiego na włoski i z angielskiego na włoski specjalizująca się w kulturze, sztuce i rzemiośle, ekologii, i nauce języka.
</p>
                <p>Ciao! Lavoro come traduttrice dall’inglese all’italiano e dal polacco all’italiano e sono specializzata in cultura, arte e artigianato, sostenibilità e apprendimento delle lingue.
</p>
                ·
     <p>
<em>MA in European, American and Postcolonial Languages and Literatures - Ca’ Foscari University of Venice</em>
                </p>
   <p>         
<em>BA in Language, Civilisation and the Science of Language - Ca’ Foscari University of Venice</em>
</p>
                ·
<p>
                <a href="https://brooklynrail.org/contributor/ANGELA-BRISOTTO">Contributor to The Brooklyn Rail</a>
</p>
             
                <p>
                    <a href="https://brooklynrail.org/2021/07/art/Giuseppe-Penone-with-Francesca-Pietropaolo-and-Alexis-Dahan">Translations for The Brooklyn Rail</a>
                </p>
               
                <img src=”https://tiliatranslations.github.io/img/about me.jpg” align=”center” />
                
                image: url(../img/about me.jpg) no-repeat center center;  
                
                <br>
       
                <br/>
              </div>
        </div>
    </section>
