    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                   
                
<h3>ABOUT ME</h3>
                <br>
                <p>
                    Something that has always resonated with me is the idea that translation is like erecting a strong, easily traversed bridge between different languages and cultures. Building a good bridge requires care and technical ability, not to mention a dose of artistic flair. These three things are the cornerstones of my business, helping me build bridges that connect English and Polish with Italian. 🌳
                </p>
                <p>
                    When, along with a group of colleagues, I published my first interview with a young, emerging artist, I knew that an excellent translation was essential if their ideas were to reach a wider audience. I therefore took charge of revising the translation, to ensure that every last nuance was conveyed and that the artist’s authentic words could be read by people who otherwise would have missed out. And that is precisely what happened.
                </p>
                <p>
                    I have been helping individuals and organisations convey their words and ideas to a public that speaks a different language since 2019. Combining analysis, accuracy and wordsmithery, I translate texts from Polish and English into Italian, localise websites for the Italian market, revise translations and proofread texts written in Italian, including academic articles, and transcribe audio and video materials into Italian.
                <p>
                    My working languages are Polish, English and, of course, Italian, my mother tongue; I specialise in texts on the arts, craft production and sustainability.
                </p>
                <p>
                    I hold two degrees from Ca' Foscari University of Venice: a master’s degree in European, American and postcolonial languages and literatures and a bachelor’s degree in language, civilisation and the science of language.
                </p>
                <p>
                    The wonderful people I have worked with over the years and my language and literature studies have taught me to prioritise quality over quantity, and this is the approach I adopt in my work. My clients have come back with new commissions, saying ‘Thank you for your excellent work. It is a pleasure to be working with you again.’
                </p>
                <p>
                     Whether you are an organisation, a business or an individual, if you think I can help you, just send me an email with your request.
                </p>
                <p>
                    Your precious words will be in safe hands – I look forward to reading them and getting to work! 📝
                </p>
                <p>
                    Send your words to: <span style="text-decoration:underline;">angela@tiliatranslations.it</span>
                </p>
                
 <br>
               
                
<h3>O MNIE</h3>
                <br>
                <p>
                    Idea tłumaczenia jako budowania trwałych i dogodnych mostów między językami i kulturami jest mi szczególnie bliska. Zbudowanie solidnego mostu wymaga nie tylko dokładności i umiejętności technicznych, ale także pewnej dozy zmysłu artystycznego. To właśnie na tych fundamentach opieram swoją działalność, w ramach której buduję mosty łączące język angielski i polski z językiem włoskim. 🌳
                </p>
                <p>
                    Kiedy wraz z innymi autorkami opublikowałam swój pierwszy wywiad przeprowadzony z pewną młodą, rozpoczynającą karierę artystką, wiedziałam, że aby móc przekazać zawarte w nim idee szerszemu gronu odbiorców, decydujące znaczenie miało dobre tłumaczenie. Podjęłam się więc weryfikacji tłumaczenia, dążąc do oddania zamysłu artystki w najdrobniejszych szczegółach i zapewnienia, aby jej słowa trafiły w całej swojej autentyczności do obcojęzycznych czytelników. I tak się stało.
                </p>
                <p>
                    Od 2019 r. pomagam klientom indywidualnym i organizacjom docierać ze słowami i ideami do odbiorców posługujących się innym językiem. Wykorzystując swoje umiejętności analityczne, precyzję i sztukę władania słowem, oferuję tłumaczenie tekstów z języka polskiego i angielskiego na język włoski, lokalizację stron internetowych z myślą o rynku włoskim, weryfikację tłumaczeń i korektę tekstów w języku włoskim, w tym tekstów 	akademickich, i transkrypcję nagrań audio i wideo w języku włoskim.<br>
                </p>
                <p>
                    Poza językiem włoskim, który jest moim językiem ojczystym, pracuję z językiem polskim i angielskim, a moją specjalizacją jest tłumaczenie tekstów z dziedziny sztuki, rzemiosła i ekologii.
                </p>
                <p>
                    Ukończyłam magisterskie studia filologiczne oraz studia licencjackie w zakresie językoznawstwa i kulturoznawstwa na Uniwersytecie Ca’ Foscari w Wenecji.
                </p>
                <p>
                    Dzięki wspaniałym osobom, z którymi miałam okazję pracować, oraz odbytym studiom lingwistycznym i literaturoznawczym, nauczyłam się przywiązywać większą wagę do jakości, a nie do ilości, co znajduje swoje odzwierciedlenie w moim podejściu do pracy tłumacza. Nierzadko osoby, z którymi współpracowałam w ostatnich latach, kontaktują się ze mną ponowne, mówiąc: „Dziękuję za wspaniale wykonaną usługę. Cieszę się, że możemy znów współpracować”.
                </p>
                <p>
                    Służę pomocą klientom prywatnym, firmom i organizacjom. Jeśli chcesz skorzystać z moich usług, wyślij zapytanie w wiadomości e-mail.
                </p>
                <p>
                    Powierzając mi swoje cenne słowa, oddajesz je w ręce eksperta.
                </p>
                <p>
                    Z przyjemnością je przeczytam i wezmę się do pracy! 📝
                </p>
                <p>
                    Wyślij swoje słowa na adres: angela@tiliatranslations.it
                </p>     
            
<br>
                
<h3>CHI SONO</h3>
                <br>
               <p>
                    Che tradurre sia come costruire un ponte solido e agevole tra lingue e culture diverse, è un’idea in cui mi ritrovo molto. Costruire un buon ponte richiede cura e capacità tecnica, senza dimenticare un certo senso artistico. È su questo terreno che affonda le radici la mia attività, e sono ponti che mettono in contatto l’inglese e il polacco all’italiano quelli che costruisco. 🌳
                </p>
                <p>
                    Quando pubblicai con un gruppo di colleghe la mia prima intervista a una giovane artista emergente, sapevo che un’ottima traduzione sarebbe stata fondamentale per far arrivare quelle idee a un pubblico più vasto. Ecco perché mi presi in carico la revisione della traduzione, in modo che nemmeno le più sfuggenti sfumature andassero perse e le parole dell’artista, nella loro autenticità, fossero lette da un pubblico altrimenti irraggiungibile. E così è stato.
                </p>
                <p>
                    Dal 2019 aiuto singoli e organizzazioni a fare arrivare parole e idee a un pubblico che parla una lingua diversa. Uso analisi, accuratezza e l’arte della parola per tradurre testi dal polacco e dall’inglese all’italiano, localizzare siti web per il mercato italiano, revisionare 	traduzioni e correggere 	testi scritti 	in italiano - testi accademici compresi, e trascrivere tracce audio e video in lingua italiana. 	 	<br>
                </p>
                <p>
                    Le mie lingue di lavoro sono il polacco, l’inglese, e naturalmente l’italiano, la mia lingua natìa; i testi sulle arti, la produzione artigianale e la sostenibilità, la mia specialità.
                </p>
                <p>
                    Ho ottenuto una laurea magistrale in Lingue e letterature europee, americane e postcoloniali e una laurea in Lingue, civiltà e scienze del linguaggio presso l’Università Ca’ Foscari di Venezia.
                </p>
                <p>
                    Grazie alle meravigliose persone con cui ho lavorato nel tempo e ai miei studi linguistici e letterari, ho imparato a dare più valore alla qualità che alla quantità, ed è proprio questo il tipo di approccio che caratterizza il mio lavoro. Le persone con cui ho collaborato in questi anni sono ritornate a usufruire dei miei servizi e hanno detto: “Grazie per il tuo lavoro eccellente. È un piacere lavorare di nuovo con te.”
                </p>
                <p>
                    Che siate un’organizzazione, un’azienda o un privato, se pensate possa aiutarvi mandatemi una mail con la vostra richiesta.
                </p>
                <p>
                    Affidandomi le vostre preziose parole, le consegnate in mani esperte.
                </p>
                <p>
                    Non vedo l’ora di leggerle e di mettermi all’opera!
                </p>
                <p>
                    Le vostre parole a: angela@tiliatranslations.it
                </p>
                


                
       
                <br/>
                <div align='center'>
                    <img src="../img/about me.jpg" alt="Angela">
                </div>
                <br>
                
                
                · 

<h4>OVERVIEW · W SKRÓCIE · IN BREVE</h4>
<br>

<p>
<strong>Native language · Język ojczysty · Madrelingua: </strong><em>Italian (Italy) · Włoski (Włochy) · Italiano (Italia)</em>
</p>
<p>
<strong>Language pairs · Kombinacje · Combinazioni linguistiche: </strong><em>English>Italian, Polish>Italian · Angielski>Włoski, Polski>Włoski · Inglese>Italiano, Polacco>Italiano</em>
</p>
<p>
<strong>Availability · Dostępność · Disponibilità: </strong><em><a href="http://www.proz.com/translator/2997713">Current availability</a> · <a href="http://www.proz.com/translator/2997713">Mój kalendarz</a> · <a href="http://www.proz.com/translator/2997713">Calendario aggiornato</a></em>
</p>
<p>
<strong>CAT tools: </strong><em>Memsource, MateCat</em>
</p>
                ·
                <h4>PUBLICATIONS · PUBLIKACJE · PUBBLICAZIONI</h4>
                <br>
<p>
                <a href="https://brooklynrail.org/contributor/ANGELA-BRISOTTO">Contributor to The Brooklyn Rail</a>
</p>
             
                <p>
                    <a href="https://brooklynrail.org/2021/07/art/Giuseppe-Penone-with-Francesca-Pietropaolo-and-Alexis-Dahan">Translations for The Brooklyn Rail</a>
                </p>
                 ·
                 <h4>EDUCATION · WYKSZTAŁCENIE · FORMAZIONE</h4>
                <br>
     <p>
<em>MA in European, American and Postcolonial Languages and Literatures - Ca’ Foscari University of Venice</em>
                </p>
   <p>         
<em>BA in Language, Civilisation and the Science of Language - Ca’ Foscari University of Venice</em>
</p>
       
                <br/>
               
              </div>
        </div>
       
    </section>


